{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Refférence</th>
      <th scope="col">Categorie</th>
      <th scope="col">AUteur</th>
    </tr>
  </thead>
   {% for book in books %}
  <tbody>
    <tr>
      <td>{{book.reference}}</td>
      <td>{{book.categorie}}</td>
      <td>{{book.author}}</td>
    </tr>
  </tbody>
  {% endfor %} 
</table>
<h2>Catégories</h2>
     <ul class="list-group">
     {% for category in categories %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{path('show_book', {'id':category.id})}}">{{category.label}}
          <span class="badge badge-primary badge-pill">{{category.books | length}} book(s)</span>
          </a>
        </li>
  {% endfor %}
{% endblock %}
