{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Refférence</th>
      <th scope="col">Categorie</th>
      <th scope="col">AUteur</th>
    </tr>
  </thead>
   {% for book in books %}
  <tbody>
    <tr>
      <td>{{book.reference}}</td>
      <td>{{book.categorie}}</td>
      <td>{{book.author}}</td>
    </tr>
  </tbody>
  {% endfor %} 
</table>
{% endblock %}
