<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Livre{% endblock %}</title>
         <!-- Meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="Livre" name="author">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Exclusively for all! Take advantage of up to -50% on these offers during our smart days. Shop smart with discounts on electronics, phones and home goods. Up to -50% Buyer Protection. Free Shipping. Summer promo. Great Value. A multitude of sellers.">
        <meta name="keywords" content="">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">

        <link rel="stylesheet" href="/assets/style.css">
    
        {% block stylesheets %}{% endblock %}

        
    </head>
    <body>
     <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{path('book')}}">Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="book">Accueil
          </a>
        </li>
      </ul>

       {% if app.user %}
            <a href="{{path('app_logout')}}" class="btn btn-success m-1">Déconnexion</a>
            <a href="{{path('book')}}" class="btn btn-success m-1">Book</a>
        
            {% else %}
                <a href="{{path('app_register')}}" class="btn btn-success m-1">Inscription</a>
                <a href="{{path('app_login')}}" class="btn btn-success m-1">Connexion</a>
            {% endif %}
        
        
      
    </div>
  </div>
</nav>
    </header>
     <div class="container-fluid">
       
     </div>
    </body>

        {% block body %} {% endblock %}

       
        {% block javascripts %}{% endblock %}
            <script src="/assets/js/jquery-1.12.4.min.js"></script> 
            <script src="/assets/js/popper.min.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
            <script src="/assets/js/magnific-popup.min.js"></script>
            <script src="/assets/js/waypoints.min.js"></script> 
            <script src="/assets/js/parallax.js"></script> 
            <script src="/assets/js/jquery.countdown.min.js"></script> 
            <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
            <script src="/assets/js/isotope.min.js"></script>
            <script src="/assets/js/jquery.dd.min.js"></script>
            <script src="/assets/js/slick.min.js"></script>
            <script src="/assets/js/jquery.elevatezoom.js"></script>
            <script src="/assets/js/scripts.js"></script>
        
    </body>
</html>
